<!DOCTYPE HTML>

<html>

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<title>中国鹤城-吉林</title>

<meta content="绿城之都-吉林" name="keywords" />

<meta content="绿城之都-吉林" name="description" />

<link href="../css/base.css" rel="stylesheet" type="text/css">

<link href="../css/pagename.css" rel="stylesheet" type="text/css">




</head>



<body>



<!--header-->

<div class="header"> 

	<div class="w1000">

    	<p>你好，欢迎光临中国鹤城吉林！</p>

        <div class="contact"><a href="../index.html">设为首页</a> <a href="../index.html">加入收藏</a></div>

	</div>

</div>





<div class="w1000">

	<div class="header_bottom">

			<a href="../index.html"><img src="../images/logo.jpg" width="294" height="49" alt="" title="绿城之都-吉林"></a>

       		<ul>

            	<li><a href="../index.html">网站首页</a></li>       

                <li><a href="historic.html">历史</a></li>     

                <li><a href="beautiful.html">风景</a></li>        

                <li><a href="tourism.html">旅游</a></li>      

                <li><a href="delicacy.html">美食</a></li>      

                <li><a href="new.html">动态</a></li>      

                <li><a href="leave.html">留言</a></li>   
				
				 <li><a href="about.html">团队介绍</a></li>      

                <li><a href="connection.html">联系我们</a></li>

     		</ul>  

    </div>       

</div>
<!--header结束--> 



<div class="container"> 		

		<!--banner开始-->

		<div class="banner_erji">

        	<img src="../images/banner_erji.jpeg" width="1000" height="187" alt="" title="">

        </div>

		<!--banner结束--> 

		

		<!--content开始-->

		<div class="content clearfix">

        	<div class="leftbar">

            	<div class="leftnav">

                	<h1>话说吉林</h1>

                	<ul class="ul_left">

                    

                    

        <li><h3><a href="introduce.html">吉林简介</a></h3>

</li>

        

        <li><h3><a href="Culture.html">吉林文化</a></h3>

</li>

        

        <li><h3><a href="historic.html">吉林历史</a></h3>
		
</li>

         	</ul>

                 
                </div>

                <div class="left_lx">

                	
                	<h1>联系方式</h1>

                    <p>地址：XXX</p>

                      <p>联系人：XXX</p>

                      <p>电话：XXX</p>

                      <p>QQ：XXX</p>

                      <p>邮箱：XXX@qq.com</p>

                      <p>邮编：136000</p>

                </div>

            </div>

        	<div class="rightbar">

            	<div class="bread"><a href="../index.html">首页</a> > 吉林简介</div>

                

            	<div class="con_news">

                	<p class="p_tit2">

                    	<span>吉林简介</span>

                        发布人:管理员　　发布时间：XXX-12-2 22:25:28

                  </p>

                	<div class="con">

               		   <p>

	<p>

		&nbsp;&nbsp;&nbsp;&nbsp;吉林市是中国唯一省、市同名城市，吉林省第二大城市。幅员面积27120平方公里，市区面积3636平方公里。辖4区5县（市），2个国家级开发区、15个省级开发区和1个省级工业集中区，总人口450万，其中城区人口200万。 

　　吉林市，一座充满荣誉和骄傲的城市。她获得的主要桂冠有：国家卫生城市、中国历史文化名城、中国优秀旅游城市、国家园林城市、倾国倾城：最值得向世界介绍的十大中国名城、中国十大特色休闲城市、中国未来10年最具竞争力城市等。

　　中国吉林市——适宜人居之城

　　吉林市，满语称“吉林乌拉”，意为沿江之城。清朝康熙皇帝东巡吉林写下的《松花江放船歌》中有“连樯接舰屯江城”诗句，使吉林市又有“北国江城”之称。

　　青山碧水环绕。吉林市，一座山水城市，由江而来、沿江而走、依江而展、因江而美。“四面皆山三面水，十里长堤分外美。欲问天堂在何处，不在苏杭在东北。”这是张学良将军1929年来吉林市时的由衷赞美。城外“青山环绕如画屏”，“前朱雀、后玄武、左青龙、右白虎”，犹如四神拱卫。美丽的松花江呈反S型穿城而过，“一城山色半城江”，正是对吉林市美景的动人写照。俯瞰吉林市城区，犹如天然的太极图形。

　　生态环境优美。吉林市，森林覆盖率达54.9%，在中国百万以上人口大城市中首屈一指，是中国东北地区第一个荣获“全国绿化模范城市”称号的城市。城区人均绿地面积9.23平方米，高出中国国家标准3.23平方米。沿城区松花江两岸的百里“清水绿带”，几十处水岸精品浑然天成，风格迥异的长桥横卧江波，高楼鳞次栉比，雕塑精致典雅，绿树参差有致，花草争奇斗妍，形成了著名的城市生态走廊和天然氧吧，荣获“中国人居环境范例奖”。

　　文化底蕴深厚。吉林市，是史前文化发源地和中国满族发祥地之一。清朝末年吉林巨商牛子厚创办了中国最早的京剧科班，培养出梅兰芳、周信芳、马连良等一批京剧艺术大师，吉林市因此被誉为“中国京剧第二故乡”。在当代，吉林市文化发展更是精彩纷呈：吉林市歌舞团连续13年荣登中国中央电视台春节联欢晚会舞台，参加了张艺谋歌剧《图兰朵》、中国大型音乐舞蹈史诗《复兴之路》和北京奥运会开闭幕式等大型演出活动；吉林市拍摄的多部电视剧连获国家级大奖；深受市民欢迎的特色文化活动走在全国前列。

　　公共服务体系健全。吉林市，围绕发展社会事业、改善生活环境质量、增强社会保障能力等方面，大力实施民生民利工程，全市建立起完备的现代教育体系和医疗卫生服务体系，完善了城市基础设施功能，实现了更加科学规范的城市管理，开展了“平安吉林”创建活动，为人们安居乐业创造了优良的社会环境。

　　中国吉林市——投资兴业之城

　　吉林市，作为中国特大城市之一，以其丰富的自然资源、优越的区位优势、充裕的人力资源、雄厚的产业基础、高效优质的服务和广阔的发展空间，赢得海内外客商的青睐，成为投资兴业的一方热土。

　　自然资源丰富。吉林市，人均水资源4000立方米，是中国平均水平的1.8倍，是中国北方城市平均水平的5.4倍。发电总装机容量472万千瓦时，年发电量130亿千瓦时，占中国东北发电总量的55.5%。林地面积165万公顷，林木总蓄积量1.56亿立方米，是长白山天然绿色特色产品的主要产区和集散中心。耕地面积66.5万公顷，粮食年均产量90亿斤，人均粮食占有量是中国人均占有量的2.6倍，是中国重点商品粮基地之一。境内发现各类矿产资源82种，其中镍、钼等8种矿产储量居中国前10位。

　　工业基础雄厚。吉林市，是中国“一五”期间国家重点建设的老工业基地。经过多年发展，特别是改革开放30多年的发展，形成了石化、汽车、冶金、能源、农产品加工、非金属矿产等传统产业体系，碳纤维、装备制造、生物产业、基础电子及电力电子等新型产业体系。中国石油吉林石化公司、吉林燃料乙醇公司、吉林化纤集团公司在国内同行业占有重要位置。以中国一汽吉林轻型车厂为主体，以轻型车、多功能车、经济型轿车为重点，吉林市到2015年将形成100万辆整车生产能力。中钢集团吉林炭素股份有限公司是亚洲最大、国际四强炭素企业，工艺技术等代表着中国炭素行业的最高水平。吉林市还被中华人民共和国科技部认定为唯一一个国家碳纤维高新技术产业化基地，到2012年将成为中国最大、世界领先的碳纤维生产应用基地。吉林高新技术产业开发区、吉林经济技术开发区两个国家级开发区、15个省级开发区、北部工业新区、吉林化工循环经济示范园区、吉林—深圳产业合作示范区以及正在建设的中国吉林（新加坡）新型农业合作食品区进一步增强了项目承载能力。到2015年，吉林市将打造五个“千亿级”产业基地：中油吉林石化公司销售收入率先超过1000亿元；除中油吉林石化公司以外化工循环经济示范园区销售收入超过1000亿元；汽车产业形成1000亿元产出能力；冶金产业全力建设北方精品钢和全国最大的冶金炉料生产基地，销售收入突破1000亿元；中国吉林（新加坡）新型农业合作食品区按1000亿元产出能力和30万人口新城市高标准规划建设。

　　区位优势明显。吉林市，位居东北亚地理中心，是2009年12月中国国务院批准的《中国图们江区域合作开发规划纲要——以长吉图为开发开放先导区》的直接腹地和重要结点，南接沈阳，北通哈尔滨，西靠内蒙古，东临朝鲜，已开通的吉林内陆港与辽宁大连港实现“无缝对接”，辐射范围不仅包括东北，还可通达中国内陆，远及日本、俄罗斯、韩国、朝鲜等国家。吉林龙嘉国际机场和即将启用的吉林机场，长珲、沈哈高速公路，长珲城际快速铁路，沈哈复线铁路，连接外县（市）的一小时经济圈，构成了吉林市四通八达、快捷便利的立体交通网络。

　　投资环境优良。吉林市，建设“服务型、效能型、法治型、诚信型”政府，树立“亲商、安商、扶商、富商”的理念，构建了“零距离、一站式、全方位”的“绿色通道”体系和跟踪包保服务体系。吉林市的商贸、物流、金融保险、信息咨询等现代服务业发展迅猛，为投资兴业提供了有利的环境。作为中国东北重要的工业基地，吉林市拥有在职专业技术人员16万人、技术工人32.4万人。此外，全市46所大中专院校、11所职业技校，每年还可向社会输送科技专家和技术工人近4万人。

　　中国吉林市——旅游休闲之城

　　吉林市，群山环抱，碧水绕城，天赐禀赋，地呈吉祥，被誉为龙兴福地、雾凇名都、陨石之乡。

　　浩浩江水的浸润、茫茫林海的簇拥，造就了吉林市四季分明的自然景观和独具特色的旅游资源。

　　春可踏青品鱼。春回大地，万物复苏，山花浪漫，城外群山峡谷成了踏青的好去处，尤其是松花湖冰雪消融后的开江时节，伴着祭江萨满古老的歌谣，满江满湖的鲜嫩水产成就了中国北方著名的开江鱼美食节。

　　夏可避暑度假。盛夏时节，沿江两岸百里生态公园，绿草如茵、花团锦簇、移步易景、美不胜收。距市区仅17公里的松花湖，水域面积550平方公里，碧波荡漾，青山叠翠，令人叹为观止。中国著名诗人贺敬之游览松花湖后赋诗：“水明三峡少，林秀西子无。此行傲范蠡，输我松花湖。”炎炎夏日，江滨湖畔，松花湖休闲度假旅游节、雪花啤酒节拉开帷幕，为市民送上无尽的清爽和惬意，使吉林市成为誉满中国的避暑度假胜地。

　　秋可观枫赏桦。秋季来临，满目葱绿的江城转眼间披上了绚烂的盛装，灿若丹霞的红叶谷，静如处子的白桦林，沿着落英缤纷的山路，采摘天然的山乡美味，让人流连忘返。每至深秋霜降，中国规模最大、红叶品种最多、色彩最迷人的吉林蛟河红叶谷，层林尽染，色彩浓淡相宜、亮丽夺目。此时，长白山红叶旅游节盛装开幕，各地游人纷至沓来。

　　冬可赏凇戏雪。隆冬时分，中国北方大地千里冰封、万里雪飘，唯有吉林市区的松花江依旧碧波荡漾，呈现出“一江春水碧，两岸雾凇凝”的独特景色，这就是与泰山日出、黄山云海、钱塘潮涌并称为中国四大气象奇观的吉林雾凇。严冬晨曦冉冉，朝阳灿灿，松花江岸长堤“忽如一夜春风来，千树万树梨花开”，堪称中国北方风光之最。享誉中外的中国吉林国际雾凇冰雪节成功举办了十五届，每年都吸引大量的海内外宾客。吉林市还是闻名遐迩的滑雪天堂。北大湖滑雪场，2007年承办了第6届亚洲冬季运动会全部雪上赛事。亚洲滑雪联合会主席李胜原先生盛赞“北大湖滑雪场的资源在亚洲乃至世界都是一流的！”。朱雀山、北山等十几座城区滑雪场，环境设施完备，让游人在绵绵雪山中飞扬驰骋，体验运动的欢乐激情。

　　令人称奇的是，就连一颗在太空生活了亿万年的小行星，竟也情有独钟扑奔而来。1976年，吉林市境内降落了一场陨石雨，方圆近500平方公里的范围没有伤及一人一畜和建筑物，堪称世间奇迹，其中最大一块陨石重达1770千克。从此，这颗世界最大的石陨石就成了吉林市博物馆的镇馆之宝，至今已有300多万人次观赏了它的丰姿，有幸实现了“手可摘星辰”的梦想。

　　让吉林市走向世界，让世界拥抱吉林市！中国吉林市，一座更加文明开放、繁荣发达、富裕殷实、朝气蓬勃的现代化城市，正以崭新的姿态快速发展！



	</p>

	<p>

		<br />

	</p>

                    </div>

              </div>

              

               

               

            </div>

        </div>

		<!--content结束--> 

</div>

<!--footer开始-->

<div class="footer"> 

	<p><a href="../index.html">首页</a> | <a href="historic.html">历史</a> | <a href="beautiful.html">风景</a> | <a href="tourism.html">旅游</a> | <a href="delicacy.html">美食</a> | <a href="new.html">动态</a> | <a href="leave.html">旅游</a>| <a href="connection.html">联系我们</a></p>

<p>Copyright &copy; XXX All Rights Reserved 版权所有 XXX</p>
  <p>地址：XXX </p>
  
  
</div>



<!--footer 结束--> 


</body>

</html>

