<!DOCTYPE HTML>

<html>

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<title>中国鹤城-吉林</title>

<meta content="绿城之都-吉林" name="keywords" />

<meta content="绿城之都-吉林" name="description" />

<link href="../css/base.css" rel="stylesheet" type="text/css">

<link href="../css/pagename.css" rel="stylesheet" type="text/css">

<style>
   #scroll {
            margin: 0;
            padding: 2px 0;
            list-style: none;
            width: 300px;
            height: 200px;
            overflow: hidden;
            border: 1px #e5e5e5 solid;
            font-size: 16px;
            color: black;
            /* background-image: url("../images/p.png"); */
        }
 
        #scroll li {
            margin: 0;
            padding: 0 4px;
            font-size: 12px;
            height: 18px;
            line-height: 18px;
            width: 600px;
        }
</style>


</head>



<body>



<!--header-->

<div class="header"> 

	<div class="w1000">

    	<p>你好，欢迎光临中国鹤城吉林！</p>

        <div class="contact"><a href="../index.html">设为首页</a> <a href="../index.html">加入收藏</a></div>

	</div>

</div>





<div class="w1000">

	<div class="header_bottom">

			<a href="../index.html"><img src="../images/logo.jpg" width="294" height="49" alt="" title="绿城之都-吉林"></a>

       		<ul>

            	<li><a href="../index.html">网站首页</a></li>       

                <li><a href="historic.html">历史</a></li>     

                <li><a href="beautiful.html">风景</a></li>        

                <li><a href="tourism.html">旅游</a></li>      

                <li><a href="delicacy.html">美食</a></li>      

                <li><a href="new.html">动态</a></li>      

                <li><a href="leave.html">留言</a></li>      

				 <li><a href="about.html">团队介绍</a></li>   
				 
                <li><a href="connection.html">联系我们</a></li>

     		</ul>  

    </div>       

</div>
<!--header结束--> 

<div class="container"> 		

		<!--banner-->

		<div class="banner_erji">

        	<img src="../images/banner_erji5.jpg" width="1000" height="187" alt="" title="">        </div>

		<!--banner end--> 

		

		<!--content-->

		<div class="content clearfix">

        	<div class="leftbar">

            	<div class="leftnav">

                	<h1>新闻分类</h1>

                	<ul class="ul_left">



        <li><h3><a href="new.html">旅游动态</a></h3>

</li>

        

        <li><h3><a href="newest.html">旅游公告</a></h3>
		
</li>

        

         	</ul>

                 
              </div>

                <div class="left_lx">

                	
                	<h1>联系方式</h1>

                    <p>地址：XXX</p>

                      <p>联系人：XXX</p>

                      <p>电话：XXX</p>

                      <p>QQ：XXX</p>

                      <p>邮箱：XXX@qq.com</p>

                      <p>邮编：136000</p>

                </div>

            </div>

        	<div class="rightbar">

            	<div class="bread"><a href="../index.html">首页</a> >最新动态</div>

			<ul  id="scroll">
              <li>大数据:网友推荐暑期旅游热门景点排行榜</li>
              
              <li>大数据:网友推荐暑期旅游热门景点排行榜</li>
              
              <li>大数据:网友推荐暑期旅游热门景点排行榜</li>
              
              <li>大数据:网友推荐暑期旅游热门景点排行榜</li>

              <li>大数据:网友推荐暑期旅游热门景点排行榜</li>
              
              <li>大数据:网友推荐暑期旅游热门景点排行榜</li>

              <li>大数据:网友推荐暑期旅游热门景点排行榜</li>
              
              <li>大数据:网友推荐暑期旅游热门景点排行榜</li>

              <li>大数据:网友推荐暑期旅游热门景点排行榜</li>
              
              <li>大数据:网友推荐暑期旅游热门景点排行榜</li>

              <li>大数据:网友推荐暑期旅游热门景点排行榜</li>
              
              <li>大数据:网友推荐暑期旅游热门景点排行榜</li>

              <li>大数据:网友推荐暑期旅游热门景点排行榜</li>
              
              <li>大数据:网友推荐暑期旅游热门景点排行榜</li>

              <li>大数据:网友推荐暑期旅游热门景点排行榜</li>
              
              <li>大数据:网友推荐暑期旅游热门景点排行榜</li>

              <li>大数据:网友推荐暑期旅游热门景点排行榜</li>
              
              <li>大数据:网友推荐暑期旅游热门景点排行榜</li>
        
          </ul>


                <div class="paging" style="display: flex; align-items: center; justify-content: center;">
                  <video style="width: 500px; height: 350px; margin: 0 auto;" controls autoplay src="https://vd2.bdstatic.com/mda-mkciyav20qki6mha/sc/cae_h264_nowatermark/1636810448999305157/mda-mkciyav20qki6mha.mp4?v_from_s=hkapp-haokan-hna&auth_key=1656990501-0-0-a4f060ba3a2bb43b7f345cc9a29b6a50&bcevod_channel=searchbox_feed&pd=1&cd=0&pt=3&logid=2301582923&vid=4714741607899025459&abtest=&klogid=2301582923"></video>
                </div>

            </div>

        </div>

		<!--content end--> 

</div>

<!--footer开始-->

<div class="footer"> 

	<p><a href="../index.html">首页</a> | <a href="historic.html">历史</a> | <a href="beautiful.html">风景</a> | <a href="tourism.html">旅游</a> | <a href="delicacy.html">美食</a> | <a href="new.html">动态</a> | <a href="leave.html">旅游</a>| <a href="connection.html">联系我们</a></p>

<p>Copyright &copy; XXX All Rights Reserved 版权所有 XXX</p>
  <p>地址：XXX </p>
  
</div>



<!--footer 结束--> 
</body>



<script>
   window.onload = function () {
            function dMarquee(id) {
                let speed = 20; //速度
                let stop = 1000; //停止时间
 
                let ul = document.getElementById(id);//获取ul元素
                let rows = ul.getElementsByTagName('li').length;//获取li个数
                let height = ul.getElementsByTagName('li')[0].offsetHeight;//取得第一个li的高度
                ul.innerHTML += ul.innerHTML;//获取所有li
                let timeID = false;//setTime的时间标示
                let play = function () { //移动方法
                    ul.scrollTop++;//移动滚动条
                    //移动到底的时候恢复为零
                    if (ul.scrollTop === rows * height*1000) {
                        ul.scrollTop = 0;
                    }
                    //每次滚动
                    if (ul.scrollTop % height === 0) {
                        timeID = setTimeout(play, stop);
                    } else {
                        timeID = setTimeout(play, speed);
                    }
                }
                timeID = setTimeout(play, stop);
                ul.onmouseover = function () {
                    clearTimeout(timeID);
                }
                ul.onmouseout = play;
            }
 
            dMarquee('scroll')
        }

</script>

</html>

